* {
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > label {
  margin: 20px 0 10px 20px;
  align-items: center;

  /* align-items: inline; */
}

form > label > .input {
  width: 100%;
}
