
.slider-img-parent>img {
    width: 100vw;
    /* height: 35.5rem */
    height: 90vh;
}

.slides .slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slides .slick-next {
    right: 3% !important;
    z-index: 1;
}